html{    
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa ;
}
body{
    background-color: #f8f9fa;
}

.jumbotron {
    background-color: #03734b;
    color: #f8f9fa;
    border-radius: 0px;
}

header {
    padding: 25px 0px;
}

.circle {
    background: #00a1e5;
    border-radius: 50%;
    color: #f8f9fa;
    height: 100px;
    font-weight: bold;
    width: 100px;
    display: table;
    text-align: center;
    margin-bottom: 15px;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
    font-size: 3.5rem;
}

.separator{
    height: 15px;
}
.separator2{
    height: 30px;
}

.hgray{
    color: gray;
}

.hbrand{
    color: #00a1e5;
    font-weight: 600;
}

.a{
    color: #00a1e5;
}

.brand-color{
    color: #00a1e5;
}

.covid-color{
    color: #03734b;
}

footer{
    background-color: #4a4a48;
    color: #f8f9fa;
    padding: 50px;  
    font-size: 0.75rem;  
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}