html{    
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa ;
}
body{
    background-color: #f8f9fa;
}

.flex{
    height: 100%;
    display: flex;
}

.flex-center{
    align-items: center;
}

.jumbotron {
    background-color: #03734b;
    color: #f8f9fa;
    border-radius: 0px;
    letter-spacing: -3px;
}

header {
    padding: 25px 0px;
}

.circle {
    background: #0f90d1;
    border-radius: 50%;
    color: #f8f9fa;
    height: 100px;
    font-weight: bold;
    width: 100px;
    display: table;
    text-align: center;
    margin-bottom: 15px;
}
.circle p {
    vertical-align: middle;
    display: table-cell;
    font-size: 3.5rem;
}

.separator{
    height: 15px;
}
.separator2{
    height: 30px;
}

.bd {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
        border-left-color: rgb(238, 238, 238);
        border-left-width: 1px;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-info {
    border-left-color: #5bc0de;
}
.bd-warning {
    border-left-color: #ffc107;
}
.bd-danger {
    border-left-color: #dc3545;
}
.bd-success {
    border-left-color: #28a745;
}

.hgray{
    color: gray;
}

.hbrand{
    color: #0f90d1;
    font-weight: 600;
}

a{
    color: #0f90d1;
}

a:hover{
    color: #0f90d1;
    text-decoration: none;
}


.brand-color{
    color: #0f90d1;
}

.covid-color{
    color: #03734b;
}

footer{
    background-color: #121820;
    color: #f8f9fa;
    padding: 50px;  
    font-size: 0.75rem;
    box-shadow: 0px 0px 20px gray;  
}

footer a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.social{
    color: #f8f9fa;
    margin-right: 5px;
}

.social:hover{
    color: #0f90d1;
}

.video{
    background-color: lightgray;
    padding: 30px 0px;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fa-mr{
    margin-right: 5px;
}